/* #194159
#BBF2D8
#68A683
#94F29A
#F28729 */

/* These are the colors from the color pallette used. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    font-family: roboto;
}

body {
    background-color: #194159;
    background-color: #68A683;
    background-color: #94F29A;
    background-color: #F28729;
    background-color: #BBF2D8;
    height: 100%;
}

#overlay {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    /* cursor: pointer;  */
}

.game-over {
    background-color: #194159;
    margin-top: 20px;
    border: 5px solid #F28729;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #F28729;
}

#game-over-text {
    padding: 20px 50px;
    margin-top: 20px;
}

.retry {
    display: flex;
    text-align: center;
}

.game-over-button {
    background-color: #94F29A;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #F28729;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

html {
    height: 100%;
}

button {
    font-size: 100px;
    background-color: #68A683;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid #194159;
}

button:hover {
    background-color: #94F29A;
}

button:active {
    background-color: #BBF2D8;
}

.player-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin: auto; */
}

.player-border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #194159;
    background-color: #F28729;
    border-radius: 10px;
    padding: 20px 50px;
    gap: 30px;
}

.user-options {
    /* opacity: 0; */
    display: flex;
    gap: 20px;
}

#user-choice {
    font-size: 23px;
}